<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription - MaggyApp</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #e9f7ef;
        }
        .header {
            background-color: #28a745;
            color: white;
            padding: 20px 0;
        }
        .container {
            max-width: 400px;
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <!-- En-tête -->
    <header class="header text-center">
        <h1>Inscription à MaggyApp</h1>
        <p>Créez votre compte</p>
    </header>

    <div class="container">
        <form action="/inscription" method="post">
            <div class="form-group">
                <label for="nom">Nom de l'utilisateur:</label>
                <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom" name="username" required >
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" placeholder="Entrez votre email" name="email" required>
            </div>
            <div class="form-group">
                <label for="motDePasse">Mot de passe:</label>
                <input type="password" class="form-control" id="motDePasse" placeholder="Créez un mot de passe" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirmer_password">Confirmer le mot de passe:</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmez votre mot de passe" name="confirmer_password"  required>
            </div>
            <input type="submit" class="btn btn-primary" value="S'inscrire" href="/inscription">
            <p class="mt-3">Déjà un compte ? <a href="/connexion">Connectez-vous ici</a></p>
        </form>
    </div>

    <!-- Scripts Bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body>
</html>
