<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> <title>My app</title>
 
</<head>
    <head>
        <style>
            .background-image {
                background-image: url('static/images/dola.jpg');
                background-size: cover;
                background-position: center;
                padding: 20px;
            }
        </style>
    </head>
    <head>
        <body>
            <div class="container mt-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6">
                        <form action="/add_devise" method="post">
                            
                            <div class="form-group">
                                <label for="description">description</label>
                                <input type="text" class="form-control" name="description" id="description">
                            </div>
                           
                            <button type="submit" class="btn btn-danger">Enregistrer</button>
                        </form>
                        <div class="text-center mt-6">
                            <img src="static/images/dola.jpg" alt="dola" class="img-fluid" style="max-width: 110%;">
                        </div>
                    </div>
                </div>
            </div>
        </body>

</body>
</html>