<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Vente des véhicules</a><br>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('index')}}">Accueil</a>
                </li>
                
                <li class="nav-item">
                    <a class="btn btn-outline-danger my-2 my-sm-0" href="{{url_for('logout')}}">Déconnexion</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="mt-5 text-center">Liste des differents vehicules acheter</h1>
        <a href="{{ url_for('liste_vehicule') }}" class="btn btn-primary mb-3">Retour à la Liste des Véhicules</a>
        <div class="row">
            {% for vehicule in commandes %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/static/images/{{ vehicule.photo }}" class="card-img-top" alt="{{ vehicule.modele }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ vehicule.marque }} : {{ vehicule.modele }}</h5>
                        
                        <p class="card-text">Couleur: {{ vehicule.couleur }}</p>
                        <p class="card-text">Kilométrage: {{ vehicule.kilometrage }} km</p>
                        <p hidden class="card-text">User id: {{vehicule.id_user }}</p>
                        <p hidden class="card-text">vehicule id: {{vehicule.id_vehicule }}</p>
                        <p class="card-text">Mode de paiement: {{vehicule.mode_paiement }}</p>
                        <p class="card-text">Quantite: {{ vehicule.quantite }} </p>
                        <p class="card-text">Prix unitaire: {{ vehicule.prix }} USD</p>

                        <p class="card-text">Prix total: {{ vehicule.prix * vehicule.quantite }} USD</p>
                        <!-- <p hidden class="card-text">User: {{vehicule.name }}</p> -->
                        
                        <!-- <form hidden action="{{ url_for('supprimer_achat', id=vehicule.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
